*{
    margin: 0;
    padding: 0;
}
html{
    background: #70a1ff;
}

.container{
    top: 50px;
    margin:  auto;
    position: relative;
    width: 25vw;
    min-height: 85vh;
    background:white;
    box-shadow:9px 9px 3px 8px  #474b4d;
}
.header{
    margin: 3px;
    margin-bottom: 1px;
    font-size: 50px;
}
.quote{
    padding-right: 8px;
    font-size: 18px;
    text-align: right; 
    color: #a4b0be;
    opacity: 0.6;

}
button{
    text-align: center;
    color: white;
    font-size: 45px;
    font-weight: 150;
    border:none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #55efc4;
    box-shadow: 5px 5px 20px 2px #a4b0be;
    cursor: pointer;
    outline:none;
    position: absolute;
}
#del{
    bottom: 8px;
    right: 8px;
}
#add_{
    bottom: 8px;
    right: 80px;
}

ul li{

    overflow:hidden;
    margin-left: 2px;
    list-style-type: none;
}
.ddl{
    float: right;
}
.modifybox{
    display: none;
    position: absolute;
    top : 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}